---
title: Kinoulink, chaine de télévision pour la famille
bodyClass: famille
---

<section class="section-title">
    <div class="container">
        <h1>Comment partager vos plus beaux souvenirs avec vos proches ?</h1>
        <h2>Kinoulink, la chaîne TV de votre famille</h2>
    </div>
</section>

<section class="section-sub">
    <div class="container text-center">
        <p>
        A l’heure du tout numérique, il n’est pas toujours aisé de transmettre ses photos à ceux que nous aimons…
        </p>
        <p>
            C’est pour cette raison que Kinoulink apporte une solution clé en main au partage de photos et vidéos familiales par l’intermédiaire d’un boîtier branché à la télévision, la KinouTV, sur lequel on peut envoyer des photos à distance depuis des applications mobiles et un service internet.
        </p>
        <img src="https://beemapp.s3.amazonaws.com/6a03ac69-1f8f-4ec8-ab41-f20c6ec8263c.jpg" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Offrez une KinouTV !</h2>
                <p>
                    Confortablement lovés dans leur canapé, papi et mamie sont prévenus que vous leur partagez une nouvelle photo par un signal lumineux. Ils n'ont plus qu'à zapper sur la chaîne de TV Kinoulink pour profiter de vos clichés et de la vidéo du petit dernier.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="/img/features/watchontv.png" srcset="
                            img/features/watchontv.png 1x,
                            img/features/watchontv@2x.png 2x
                        " />
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr />
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="/img/features/secure.png" srcset="
                            img/features/secure.png 1x,
                            img/features/secure@2x.png 2x
                        " />
            </div>
            <div class="col-sm-6">
                <h2>Notre service de partage</h2>
                <h3>Aussi simple que d'envoyer un email !</h3>
                <p>
                    Disponible depuis votre ordinateur et smartphone, notre service de partage de photos et vidéos ne vous quitte jamais.
                    <br />
                    Stockez vos photos et vidéos dans un espace internet sécurisé et partagez-les avec ceux que vous aimez.
                    <br />
                    Affichez vos photos Facebook, Dropbox ou GooglePlus en quelques clics, sur l'écran de télévision de papi et mamie.
				</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr />
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Kinoulink a besoin de vous !</h2>
                <p>Kinoulink lance une campagne de financement participatif pour la fabrication et la commercialisation des 200 premières KinouTV. Faites partie des premiers clients et recevez avant tout le monde une KinouTV (prête à l’emploi), un compte kinoulink XXL (pour stocker et partager plus de photos) et un T-shirt Kinoulink.</p>
                <h3>Le financement participatif, comment ça marche ?</h3>
                <p></p>
                <p>Pour participer, vous devez créer un compte sur Ulule et faire un don au projet (chaque don, donne droit à une contrepartie => Compte kinoulink XXL, T-shirt, KinouTV, etc.). A la fin de la campagne, si l’objectif du projet est atteint (objectif de 10’000€ pour Kinoulink) vous recevrez votre contrepartie à l’adresse mentionnée en livraison. Si le projet ne reçoit pas les fonds nécessaires à sa réalisation, vous êtes automatiquement et intégralement remboursés sur votre compte bancaire sans aucun frais.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="/img/ulule.png" />
            </div>
        </div>

    </div>
</section>