---
title: Kinoulink, solution professionnelle de partage de contenu média
bodyClass: pro
---

<section class="section-title">
    <div class="container">
        <h1>Comment diffuser du contenu média dans vos point de vente ?</h1>
        <h2>Kinoulink, spécialiste de la diffusion de contenu multimédia à distance</h2>
    </div>
</section>

<section class="section-sub">
    <div class="container text-center">
        <p>
            Photos, vidéos, textes, pages Web... depuis le cloud Kinoulink diffusez sur vos KinouTV dans tous vos points de vente.
        </p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Qu'est ce que la KinouTV ?</h2>
                <h3>Vos écrans connectés au service Kinoulink</h3>
                <p>
                    La KinouTV est un petit appareil électronique branché à un écran et Internet (via Wifi ou câble éthernet).
                    <br />
                    Grâce à sa technologie CEC, vous allumez et éteignez vos écrans à distance !
                    <br/>
                </p>
            </div>
            <div class="col-sm-6">
                <img src="/img/features/watchontv.png" srcset="
                            img/features/watchontv.png 1x,
                            img/features/watchontv@2x.png 2x
                        " />
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr />
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="/img/features/secure.png" srcset="
                            img/features/secure.png 1x,
                            img/features/secure@2x.png 2x
                        " />
            </div>
            <div class="col-sm-6">
                <h2>Notre service de diffusion multimédia</h2>
                <h3>Contrôlez vos KinouTV depuis votre bureau</h3>
                <p>
                    Créez vos Playlists de campagne publicitaire et diffusez-les sur les points de vente de vos choix.
					<br />En quelques secondes, envoyez les dernières offres promotionnelles ou publicités sur l'écran de votre agence du sud.
					<br />Notre support professionnel vous garantit une solution adaptée à vos besoins et notre technologie d'objet connecté vous assure le meilleur prix !
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr />
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Kinoulink a besoin de vous !</h2>
                <p>Pour notre projet, nous avons mis en place un mode de financement participatif.</p>
                <h3>Le financement participatif, comment ça marche ?</h3>
                <p></p>
                <p>Pour participer, vous devez créer un compte sur Ulule et faire un don au projet (chaque don, donne droit à une contrepartie => Compte kinoulink XXL, T-shirt, KinouTV, etc.). A la fin de la campagne, si l’objectif du projet est atteint (objectif de 10’000€ pour Kinoulink) vous recevrez votre contrepartie à l’adresse mentionnée en livraison. Si le projet ne reçoit pas les fonds nécessaires à sa réalisation, vous êtes automatiquement et intégralement remboursés sur votre compte bancaire sans aucun frais.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="/img/ulule.png" />
            </div>
        </div>

    </div>
</section>