body
{
  margin:0;
  padding: 0;


  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container
{
  width: 90%;
  max-width: 1024px;
  margin:auto;
}

section
{
  position:relative;

  > div
  {
    padding: 20px;
    width: 90%;
    padding: 5%;
  }

  .bcg
  {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }

  h2
  {
    font-weight: 300;
  }
}

.bg-logo-blue
{
  background: $k-color-logo-blue;
}

.bg-logo-green
{
  background: $k-color-logo-green;
}

.bg-logo-orange
{
  background: $k-color-logo-orange;
}

.bg-logo-violet
{
  background: $k-color-logo-violet;
}