@import "../settings";
@import "../extension";

html {
  //Instead of the line below you could use @includebox-sizing($bs)
  box-sizing: border-box;
}
* {
  //Instead of the line below you could use @includebox-sizing($bs)
  box-sizing: inherit;
  &:before {
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: inherit;
  }
  &:after {
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: inherit;
  }
}
body {
  background-color: $white;
  color: $color_rangoon_green_approx;
  font-size: 16px;
  line-height: 1.5;
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
  font-weight: 300;
}
h1 {
  font-family: $font_5, $font_6, $font_4;
  font-weight: 700;
}
h2 {
  font-family: $font_5, $font_6, $font_4;
  font-weight: 700;
  font-size: 1.6em;
}
h3 {
  font-family: $font_5, $font_6, $font_4;
  font-weight: 700;
  font-size: 1.3em;
  font-weight: 400;
  strong {
    font-weight: 700;
  }
}
h4 {
  font-family: $font_5, $font_6, $font_4;
  font-weight: 700;
  font-size: 24px;
}
h5 {
  font-family: $font_5, $font_6, $font_4;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: .5em;
}
h6 {
  font-family: $font_5, $font_6, $font_4;
  font-size: 21px;
  line-height: 31px;
  font-weight: 400;
  margin-bottom: 1em;
}
.font--large {
  font-size: 1.1em;
}
input[type="text"] {
  @extend %extend_input;
  &:focus {
    outline: 0;
    border-color: $color_quill_gray_approx;
  }
}
input[type="email"] {
  @extend %extend_input;
  &:focus {
    outline: 0;
    border-color: $color_quill_gray_approx;
  }
}
input[type="password"] {
  @extend %extend_input;
  &:focus {
    outline: 0;
    border-color: $color_quill_gray_approx;
  }
}
textarea {
  @extend %extend_input;
  &:focus {
    outline: 0;
    border-color: $color_quill_gray_approx;
  }
}
input {
  &.input--grouped-left {
    //Instead of the line below you could use @includeborder-top-left-radius($radius)
    border-top-left-radius: 0;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 0;
  }
  &.input--grouped-right {
    //Instead of the line below you could use @includeborder-top-right-radius($radius)
    border-top-right-radius: 0;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 0;
  }
}
::-webkit-input-placeholder {
  color: $color_silver_chalice_approx;
}
:-moz-placeholder {
  color: $color_silver_chalice_approx;
}
::-moz-placeholder {
  color: $color_silver_chalice_approx;
}
:-ms-input-placeholder {
  color: $color_silver_chalice_approx;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  border: 0;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  text-transform: uppercase;
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
  font-weight: 400;
  font-size: .75em;
  text-decoration: none;
  line-height: 1;
  appearance: none;
  &:hover {
    cursor: pointer;
  }
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
  .icon {
    margin-left: 8px;
  }
}
.button--big {
  padding: 20px 40px;
}
.button--small {
  padding: 10px 15px;
  font-size: .65em;
}
.button--grouped-left {
  //Instead of the line below you could use @includeborder-top-left-radius($radius)
  border-top-left-radius: 0;
  //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
  border-bottom-left-radius: 0;
}
.button--grouped-right {
  //Instead of the line below you could use @includeborder-top-right-radius($radius)
  border-top-right-radius: 0;
  //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
  border-bottom-right-radius: 0;
}
.button--blue {
  background-color: $color_curious_blue_approx;
  color: $white;
  &:hover {
    background-color: $color_dodger_blue_approx;
  }
  &:active {
    background-color: $color_picton_blue_approx;
  }
  &:focus {
    background-color: $color_picton_blue_approx;
  }
}
.button--green {
  background-color: $color_apple_approx;
  color: $white;
  &:hover {
    background-color: $color_apple_approx;
  }
  &:active {
    background-color: $color_screamin_green_approx;
  }
  &:focus {
    background-color: $color_screamin_green_approx;
  }
}
.button--outline {
  &.button--blue {
    background-color: transparent;
    color: $color_curious_blue_approx;
    border: 1px solid $color_curious_blue_approx;
    &:hover {
      border-color: $color_picton_blue_approx;
    }
    &:active {
      border-color: $color_picton_blue_approx;
    }
    &:focus {
      border-color: $color_picton_blue_approx;
    }
  }
  &.button--green {
    background-color: transparent;
    color: $color_apple_approx;
    border: 1px solid $color_apple_approx;
    &:hover {
      border-color: $color_apple_approx;
    }
    &:active {
      border-color: $color_screamin_green_approx;
    }
    &:focus {
      border-color: $color_screamin_green_approx;
    }
  }
}

.icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.icon--user {
  background-image: $url_1;
}

.social_icon {
    display: inline-block;
    margin-right: 3px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    background-image: $url_21; 
    background-position: 0 0;
    background-repeat: no-repeat;
}

.social_icon--fb { background-position: 0 0; }
.social_icon--li { background-position: -42px 0; }
.social_icon--tw { background-position: -84px 0; }

.u-float--right {
  float: right;
}
.u-float--left {
  float: left;
}

.u-align--right  { text-align: right; }

.logo img {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}