footer {
    padding: 40px 0;

    h6 {
        font-size: 16px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        margin-bottom: 1.5em;
    }

    input, 
    textarea {
        font-size: 14px;
        margin-bottom: 20px;
    } 

    textarea {
        max-width: 100%;
        min-width: 100%;
        width-width: 100%;
        min-height: 100px;
    }
}

.supporters
{
  background: #A66EDB;
  position: relative;
  padding: 10px 0;
  text-align: center;

  h3
  {
    margin-top: 10px;
    margin-bottom: 20px;
    color:#fff;
  }
}

.ulule-avatar
{
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;

  img
  {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border:3px solid #fff;
  }

  span
  {
    background: #fff;
    font-size: 10px;
    left: -5px;
    right: -5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    bottom: -5px;
    border-radius: 4px;
    padding: 1px;
    position: absolute;
  }
}

.banner
{
  padding: 5px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  h6
  {
    margin-bottom: 0;
  }
}