
<a id="contact"></a>
<footer role="content-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h6>A propos de Kinoulink</h6>
                <p>
                    Kinoulink est une start-up web toulonnaise créée en juin 2014 à l’issue de deux années de travaux de recherche
                    et d'études terrain.
                </p>
                <p>Grâce à la subvention French Tech d’un montant de 30K€ financée par la BPI (Banque
                    publique d’investissement) au mois de juillet 2014 et a des apports privés, Kinoulink a finalisé son produit fini et
                    lance une campagne de financement partipatif sur ulule.com pour la mise sur le marché de
                    « La KinouTV » disponible sur <a href="https://fr.ulule.com/kinoulink/">https://fr.ulule.com/kinoulink/</a>
                </p>
                <br/>
                <h6>Suivez nous</h6>
                <div class="text-center">
                    <a href="https://www.facebook.com/Kinoulink" class="social_icon social_icon--fb" target="_blank"></a>
                    <a href="https://twitter.com/kinoulink" class="social_icon social_icon--tw" target="_blank"></a>
                </div>
            </div>

            <div class="col-sm-6 push_1">
                <h6>Contactez nous</h6>
                <p>Une question, idée sur Kinoulink ou simplement nous dire bonjour:</p>

                <form id="contactForm" action="http://k-api.cloudapp.net/crm/contact/post" method="POST">
                    <fieldset class="clearfix">
                        <input type="text" placeholder="Votre nom" name="name" class="grid_3 alpha" required="true" />
                        <input type="email" placeholder="Votre email" name="email" class="grid_3 omega" required="true" />
                    </fieldset>
                    <fieldset class="clearfix">
                        <textarea placeholder="Votre message" name="message" class="grid_6 alpha omega" required="true"></textarea>
                    </fieldset>
                    <fieldset class="clearfix u-align--right">
                        <button type="submit" class="button button--blue">Envoyer</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
<div class="banner button--green">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h6>Contactez nous</h6>
            </div>
            <div class="col-sm-6">
                <a class="pull-right button button--big button--blue" href="mailto:contact@kinoulink.com">contact@kinoulink.com</a>
            </div>
        </div>
    </div>
</div>