<div class="header-wrapper">

    <div class="container">

        <header role="banner" class="header col-sm-3">
            <a class="logo" href="/">
                <img src="/img/logo.png" alt="Kinoulink" />
            </a>
        </header>

        <nav role="navigation" class="col-sm-9">
            <ul class="navigation">
                <li class="navigation__item"><a href="/solution-affichage-dynamique.html">Pour les professionels</a></li>
                <li class="navigation__item"><a href="/pour-les-geeks.html">Pour les geeks</a></li>
                <li class="navigation__item"><a href="/pour-la-famille.html">Pour la famille</a></li>
                <li class="navigation__item"><a href="#contact">Contact</a></li>
                <li class="navigation__item">
                    <a href="#" class="button button--small button--blue button--outline">
                        Mon compte <i class="icon icon--user"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</div>